---
import '@fontsource/montserrat';
import '@fontsource/montserrat/800.css';
import {RcTopNavCn} from "../components/rc-topnav-cn";
import {RcFooter} from "../components/rc-footer";
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Relay.Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="flex flex-col h-screen">
      <rc-topnavcn />
      <slot /> <!-- your content is injected here -->
      <rc-footer />
    </div>
  </body>
</html>
