---
import Wrapper from '../components/Wrapper.astro';
---
<Wrapper title="Fred's Page">
  <img src="https://my.photo/fred.jpg" slot="after-header">
  <h2 class="text-2xl">All about Fred</h2>
  <p>Here is some stuff about Fred.</p>
  <p slot="after-footer" class="">Copyright 2022</p>
</Wrapper>
