---
import MySiteLayoutEn from "../layouts/MySiteLayoutEn.astro";
const {frontmatter} = Astro.props;
---

<MySiteLayoutEn>
  <p class="text-sm h-full m-12">My page content, wrapped in a layout!</p>
</MySiteLayoutEn>
